{% extends 'layout.html' %}

{% block body %}
    <h1>Links</h1>

    <a href="{{ url_for('static', filename='AdamElKholyCV.pdf') }}" target="_blank">CV</a> <br> 
    <a href="https://www.linkedin.com/in/adam-el-kholy-1b86aa25a/" target="_blank">LinkedIn</a> <br>
    <a href="https://github.com/adamelkholyy" target="_blank">GitHub</a> <br> 
    <a href="https://www.kaggle.com/datasets/adamelkholy/human-ai-artwork?rvi=1" target="_blank">AI-Artwork Dataset</a> <br>
    <p>
        Email: aek57@bath.ac.uk
    </p>


{% endblock %}