{% extends 'layout.html' %}

{% block body %}
    <h1>Book Club</h1>


    <p>
        Currently reading: Another White Man's Burden by Tommy J Curry <br>
        2024 is low on numbers due to the final year of undergrdaute studies!
    </p>

    <h2>2024</h2>
    <ul>
        <li>Welcome to the desert of the Real - Slavoj Žižek</li>
        <li>Brave new world - Aldous Huxley</li>
        <li>Totem and taboo - Sigmund Freud</li>
        <li>The time machine - H.G. Wells</li>
        <li>Lacan - Lionel Bailly</li>
        <li>Pride and Prejudice - Jane Austen</li>
        <li>Mirror of production - Jean Baudrillard</li>
        <li>Media control: The spectacular achievement of propaganda - Noam Chomsky</li>
        <li>Mother Night - Kurt Vonnegut</li>
        <li>The doors of perception - Aldous Huxley</li>
        <li>The Theban plays - Sophocles</li>
        <li>Postmodernism: A very short introduction - Christopher Butler</li>
    </ul>

    <h2>2023</h2>
    <ul>
        <li>The secret barrister - The secret barrister</li>
        <li>By the river Piedra I sat down and wept - Paulo Coelho</li>
        <li>The fall - Albert Camus</li>
        <li>God bless you, mr rosewater - Kurt Vonnegut</li>
        <li>Imperialism: The highest stage of capitalism - Vladimir Lenin</li>
        <li>The invisible man - HG Wells</li>
        <li>The bell jar - Silvia Plath</li>
        <li>The Plague - Albert Camus</li>
        <li>Thus Spake Zarathustra - Fredreich Neitschze</li>
        <li>If on a winter’s night a traveler - Italo Calvino</li>
        <li>Ideas in psychoanalysis: Paranoia - David Bell</li>
        <li>Land sickness - Nikolaj Shultz</li>
        <li>Adults in the room - Yanis Varoufakis</li>
        <li>Ludwig Feuerbach and the end of classical German philosophy - Frederick Engels</li>
        <li>The communist manifesto - Frederick Engels and Karl Marx</li>
        <li>Meditations on first philosophy - Descartes</li>
        <li>How to read Lacan - Slavoj Žižek</li>
        <li>Down and out in Paris and London - George Orwell</li>
        <li>Forget Foucault // Forget Baudrillard - Jean Baudrillard</li>
        <li>Spinoza - Michael Della Rocca</li>
        <li>Freakonomics - Stephen Levitt, Stephen Dubner</li>
        <li>The Ethics - Spinoza</li>
        <li>The handmaid’s tale - Margaret Atwood</li>
        <li>In cold blood - Truman Capote</li>
        <li>Player Piano - Kurt Vonnegut</li>
        <li>Beyond the pleasure principle - Sigmund Freud</li>
        <li>How to read Marx - Peter Osbourne</li>
        <li>The castle - Franz Kafka</li>
        <li>The year of dreaming dangerously - Slavoj Žižek</li>
        <li>The motorcycle diaries - Ernesto “Che” Guevara</li>
        <li>The fight - Norman Mailer</li>
        <li>Lolita - Vladimir Nabokov</li>
        <li>The death of Ivan Ilyich - Leo Tolstoy</li>
        <li>Civilisation and its discontents - Sigmund Freud</li>
        <li>A room of one’s own - Virginia Woolf</li>
        <li>The man who was Thursday - G.K Chesterton</li>
        <li>Flowers for Algernon - Daniel Keyes</li>
        <li>Introducing Semiotics - Paul Cobley</li>
        <li>Technofeudalism - Yanis Varoufakis</li>
        <li>The society of the spectacle - Guy Debord</li>
        <li>Introducing Baudrillard - Chris Horrocks</li>
        <li>The sweet science - A.J Liebling</li>
        <li>Giovanni’s Room - James Baldwin</li>
        <li>The social contract - Jean-Jacques Rousseau</li>
        <li>Collapse Feminism - Alice Capelle</li>
        <li>The system of objects - Jean Baudrillard</li>
        <li>The promise - Damon Galgut</li>
    </ul>

    <h2>2022</h2>
    <ul>
        <li>The myth of Sisyphus - Albert Camus</li>
        <li>The art of war - Sun Tzu</li>
        <li>Introductory lectures on psychoanalysis - Sigmund Freud</li>
        <li>The 5 dialogues; Euthyphro, Apology, Crito, Meno, Phaedo - Plato</li>
        <li>I, who have never known men - Jacqueline Harpman</li>
        <li>The stranger - Albert Camus</li>
        <li>How to read Lacan - Slavoj Žižek</li>
        <li>Waiting for Godot - Samuel Beckett</li>
        <li>The myth of Sisyphus - Albert Camus</li>
        <li>Republic - Plato</li>
        <li>Such a fun age - Kiley Reid</li>
        <li>Against the double blackmail - Slavoj Žižek</li>
        <li>Introducing Lacan - Darian Leader</li>
        <li>Pandemic! - Slavoj Žižek</li>
        <li>The psychopathology of everyday life - Sigmund Freud</li>
        <li>Feline philosophy - John Gray</li>
        <li>Breakfast of champions - Kurt Vonnegut</li>
        <li>The man who mistook his wife for a hat - Oliver Sacks</li>
        <li>How Europe underdeveloped Africa - Walter Rodney</li>
        <li>Cat’s cradle - Kurt Vonnegut</li>
        <li>Nausea - Jean Paul Sartre</li>
        <li>The sound of waves - Yukio Mishima</li>
        <li>Notes from the underground and The Gambler - Fyodor Dostoevsky</li>
        <li>A confession - Leo Tolstoy</li>
        <li>Welcome to the monkey house - Kurt Vonnegut</li>
        <li>Ayoade on top - Richard Ayoade</li>
        <li>Existentialism is a humanism - Jean Paul Sartre</li>
        <li>Metamorphosis - Franz Kafka</li>
        <li>The wolf man - Sigmund Freud</li>
        <li>Fear and trembling - Søren Kierkegaard</li>
        <li>The alchemist - Paulo Coelho</li>
    </ul>


{% endblock %}
