{% extends 'layout.html' %}

{% block body %}
<h1>Welcome</h1>
<p>
  About me: I have recently graduated from the University of Bath with a BSc in Computer Science with Artificial Intelligence. I am currently seeking an AI research assitant role in order to further my research experience 
  and facilitate an eventual masters in machine learning. Aside from my interests in AI and ML I enjoy reading philosophy and watching films as well as boxing and running (although I am certainly not the best at either). I have 
  created this page as an online portfolio in order to showcase some of my previous work. 
</p>

<p>
  I must give due credit to <a href="https://github.com/petersimeth/basic-flask-template" target="_blank">Peter Smieth</a> for the flask template used to create this website. Thank you very much Peter!
</p>

{% endblock %}
